div.giromobile-widget {
  display: block !important;
  width: 80px;
  height: 80px;
  background-color: #2a2b4f;
  text-indent: -9999px;
  line-height: 0;
  text-align: left;
}
div.giromobile-widget:hover {
  cursor: pointer;
}
div.giromobile-widget.active {
  width: 180px;
  height: 180px;
}
div.giromobile-widget.active:hover {
  cursor: default;
}
div.giromobile-widget.active .tid{
  display: block;
}
div.giromobile-widget .tid {
  display: none;
  width: 180px;
  height: 180px;
  background-color: #2a2b4f;
  text-indent: 0;
  line-height: 1em;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
}
div.giromobile-widget.login {
  background-image: url('login.png');
}
div.giromobile-widget.register {
  background-image: url('register.png');
}
div.giromobile-widget.pay {
  background-image: url('pay.png');
}

#giromobile-login {

}

#giromobileBackdrop {
  display: none;
}
#giromobileBackdrop.show {
  display: block;
  background: none repeat scroll 0 0 #000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  opacity: 0.55;
  position: fixed;
  z-index: 1000;
}
#giromobileMsg {
  background: none repeat scroll 0 0 #000000;
  width: 200px;
  height: 100px;
  margin: 300px auto 0;
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
}
